/* google icons style */
.go-top-page__btn > .material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.go-top-page {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  right: 3.5rem;
  text-shadow: 0.2rem 0.1rem 0.2rem var(--style-black);
  transition: transform 0.3s ease-in-out;
}

.go-top-page__btn {
  animation: color-change 9s infinite;
  text-decoration: none;
  border: 2px solid var(--style-lightblue);
  font-weight: 100;
  border-radius: 100%;
  font-size: 3rem;
  transition: all 0.5s ease-in-out;
}

.go-top-page__btn:hover {
  transform: scale(1.1);
  text-shadow: 0.3rem 0.3rem 0.2rem var(--style-black);
}

.go-top-page__text {
  color: var(--style-lightblue);
  font-weight: 100;
  font-size: 1.5rem;
}
