.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 10; /*bring the navbar to first element(without it,
  welcome-img will take up all the space covering
  title-subtitle and navbar)*/
  top: -100px;
  width: 100%;
  height: 0;
  background-color: var(--style-black);
  padding-top: 3.75rem;
  padding-right: 2.5rem;
  overflow-y: hidden;
  transition: 0.5s;
  border-bottom-right-radius: 5rem;
}

.navbar__ul__list {
  text-shadow: 0 0 1rem;
  font-size: 1.5rem;
  display: flex;
  gap: 1.2rem;
  list-style: none;
  margin-bottom: 4rem;
  margin-right: 4rem;
}

.navbar__list {
  animation: color-change 9s infinite;
  text-decoration: none;
}

.open-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
}

.open-navbar__btn,
.close-navbar__btn {
  cursor: pointer;
  transition: 0.5s;
}

.open-navbar__btn {
  font-size: 2rem;
  text-shadow: 0 0 1rem;
  color: var(--style-lightblue);
  margin-top: 0.5rem;
}

.open-navbar__btn:hover {
  background-color: var(--style-lightGray);
  border-radius: 4rem;
}

.close-navbar__btn {
  position: absolute;
  top: 5px;
  right: 2.2rem;
  font-size: 2.3rem;
  margin-left: 3.1rem;
  text-decoration: none;
  color: var(--style-lightblue);
}

.close-navbar__btn:hover {
  color: var(--style-purple);
}
