/*MEDIA QUERIES*/

@media (max-width: 900px) {
  .top-section {
    height: 100%;
  }
  .about-author__par {
    padding: 0;
  }
  .section-toggle {
    display: flex;
  }
  .about-author__par--holder {
    display: none;
  }
  .about-author__par-holder--visible {
    display: flex;
  }
  .go-top-page {
    flex-direction: row;
    justify-content: flex-start;
    bottom: 2rem;
    left: 2rem;
  }
  .go-top-page__text {
    display: none;
  }
  .contact-section,
  .contact-form__title--holder {
    flex-direction: column;
    gap: 0;
  }
  .short-about__par {
    margin-top: 4rem;
  }
  .contact-section__video {
    height: 200%;
  }
  .contact-form {
    width: 80%;
    margin-bottom: 6rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 0; /*turns off linear gradient*/
    background-color: var(--style-darkTransparentBlack);
    padding-right: 0;
    border-radius: 0;
    height: fit-content;
    top: 0;
  }
  .close-navbar__btn {
    border-left: 0;
    border-top: 1px solid var(--style-lightblue);
    margin-left: 0;
    padding: 2rem 3rem;
  }
  .navbar__ul__list {
    flex-direction: column;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 480px) {
  .top-section {
    height: 100vh;
  }
  .profile {
    margin: 0.5rem;
  }
  .profile__title {
    padding: 0 0.5rem;
    font-size: 2rem;
  }
  .profile__subtitle {
    font-size: 1.4rem;
  }
  .project__title {
    font-size: 1.2rem;
  }
  .about-author__par:last-of-type {
    margin-top: 4rem;
    margin-right: 0;
    text-align: center;
  }
}
