/*MEDIA QUERIES*/

@media (max-width: 900px) {
  .top-section {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: 0; /*turns off linear gradient*/
    background-color: var(--style-darkTransparentBlack);
    padding-right: 0;
    border-radius: 0;
    height: fit-content;
    top: 0;
  }
  .close-navbar__btn {
    border-left: 0;
    border-top: 1px solid var(--style-lightblue);
    margin-left: 0;
    padding: 2rem 3rem;
  }
  .navbar__ul__list {
    flex-direction: column;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 480px) {
  .top-section {
    height: 100vh;
  }
  .profile {
    margin: 0.5rem;
  }
  .profile__title {
    font-size: 3rem;
  }
  .profile__subtitle {
    font-size: 1.4rem;
  }
  .projects-grid-layout {
    padding: 0;
  }
  .project__title {
    font-size: 1.2rem;
  }
}
