.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  background: linear-gradient(0deg, black, rgb(34, 34, 34));
  height: 92vh;
  /* margin-top: 15%; */
}

.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  /* padding: 2rem; */ /*caused overflowing*/
  gap: 2rem;
}

.profile-links__link {
  animation: color-change 9s infinite;
  text-shadow: 0 0 1rem;
  padding: 0 2rem 0 2rem;
}
